@mixin font($fz, $c, $fw: inherit, $ff: inherit, $lh: inherit, $fs: inherit) {
    font-family: $ff;
    font-style: $fs;
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: $c
}

@mixin tr {
    transition: all .4s ease-in;
}

@mixin hfa {
    @include tr();

    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

@mixin pcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}